################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Comprehensive_xUnit_Tests/FileContentIndex/30ce7f7a-2f44-4175-9fe1-d7461d5f21a6.vsidx
/FactTests/.vs/FactTests/FileContentIndex/70bbb9be-edec-43d0-bf69-8b9dbda5fca3.vsidx
/FactTests/.vs/FactTests/FileContentIndex/a49eeb57-5489-452e-a944-16bbc0ecb5bf.vsidx
/FactTests/.vs/FactTests/FileContentIndex/b0a3f724-c5e9-427f-8ea6-5204559753e5.vsidx
