################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Comprehensive_xUnit_Tests/FileContentIndex/30ce7f7a-2f44-4175-9fe1-d7461d5f21a6.vsidx
/FactTests/.vs/FactTests/FileContentIndex/70bbb9be-edec-43d0-bf69-8b9dbda5fca3.vsidx
/FactTests/.vs/FactTests/FileContentIndex/a49eeb57-5489-452e-a944-16bbc0ecb5bf.vsidx
/FactTests/.vs/FactTests/FileContentIndex/b0a3f724-c5e9-427f-8ea6-5204559753e5.vsidx
/FactTests/.vs/FactTests/FileContentIndex/0a53e26b-89f2-4503-bee1-e3f71ff1447a.vsidx
/FactTests/.vs/FactTests/FileContentIndex/3944a360-7e11-4f57-a83e-7ea37a30ae4d.vsidx
/FactTests/.vs/FactTests/FileContentIndex/8f7ee9b3-c5e0-42c2-8755-32d7256a00ff.vsidx
/FactTests/.vs/FactTests/FileContentIndex/4cf4c629-0ea4-4325-bc3e-04979c6bd26e.vsidx
/FactTests/.vs/FactTests/FileContentIndex/50fbfcc2-60bb-443f-9d44-45b133eafb7b.vsidx
/FactTests/.vs/FactTests/FileContentIndex/c83c0294-9f3a-453f-a5af-470d12b1a0d3.vsidx
/FactTests/.vs/FactTests/FileContentIndex/2377a19e-a65d-4e00-b5bf-fab51cf3d4c7.vsidx
/FactTests/.vs/FactTests/FileContentIndex/a31bd2b8-682d-4ea9-89eb-dc28e48d0f7e.vsidx
/FactTests/.vs/FactTests/FileContentIndex/05c7b0a7-481e-421b-b1b1-6cb6d5da81e0.vsidx
/FactTests/.vs/FactTests/FileContentIndex/219aa8fe-f288-4660-8dc5-f1fd2c72cc74.vsidx
/FactTests/.vs/FactTests/FileContentIndex/5f44136c-4c98-46e9-8368-981fc3b096a0.vsidx
/FactTests/.vs/FactTests/FileContentIndex/d209440b-ed0c-43e0-a3b0-4a7a96a00e35.vsidx
/FactTests/.vs/FactTests/FileContentIndex/4529ccfa-9071-4d7d-acca-458fdaec583f.vsidx
/FactTests/.vs/FactTests/FileContentIndex/6903c116-d4e3-4577-9242-bf86121d6a84.vsidx
/FactTests/.vs/FactTests/FileContentIndex/f62f96d0-e515-4ae0-b0f6-bffbc4b33c87.vsidx
